.site-footer {
  // background-color: map-get($colors, 'peach');
  padding: map-get($space, 'sm') map-get($space, 'md');
  .site-info {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
