
.mc4wp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .subscribe {
    display: flex;
    input, button {
      padding: map-get($space, 'xs') map-get($space, 'sm');
      font-family: $font-family-serif;
      font-size: map-get($font-sizes, 'xs');
      color: map-get($colors, 'gray-lighter');
      border: map-get($colors, 'primary') 1px solid;
      border-radius: 5px;
    }
    input {
      margin-right: map-get($space, 'xs');
      transition: all 0.3s ease;
      &::placeholder {
        color: map-get($colors, 'gray');
      }
      &:focus {
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
      }
    }
    button {
      @extend a.is-button;
      cursor: pointer;
      font-family: $font-family-sans;
      padding: (map-get($space, 'xs') / 2) map-get($space, 'xs');
      color: map-get($colors, 'primary');
      background-color: map-get($colors, 'white');
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}
