.site-header {
  .site-branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header-logo {
      width: 100%;
      height: auto;
    }
  }
  .site-description {
    @extend .lead;
    text-align: center;
    color: map-get($colors, 'gray');
    font-size: map-get($font-sizes, 'sm');
    font-style: italic;
  }
}

