.site {
  // background-color: map-get($colors, 'primary');
  .site-main {
    height: 100%;
    margin: 0 auto;
    padding: map-get($space, 'sm');
    max-width: 768px;

    .newsletter-invite {
      text-align: center;
      color: map-get($colors, 'champagne')
    }
  }
}
