.site {
  .site-main {
    height: 100%;
    margin: 0 auto;

    .newsletter-invite {
      text-align: center;
      color: map-get($colors, 'champagne');
      margin-bottom: map-get($space, 'xs');
    }
  }
}

.ek {
  &-divider {
    height: 1px;
    width: 100%;
    background-color: map-get($colors, 'primary');
  }
}
