@use "sass:map";

$palette: (
  'black': #0a0a0a,
  'white': #ffffff,
  // Grays
  'gray-darkest': #152632,
  'gray-darker': #20303C,
  'gray-dark': #273641,
  'gray': #35434E,
  'gray-light': #56626B,
  'gray-lighter': #798289,
  'gray-lightest': #D0D4D6,
  // Theme
  'primary': #33614C,
  'secondary': #092B4C,
  'orange': #EBAC71,
  'gold': #FFE1A5,
  'pink': #D79597
);

$gold: map-get($palette, 'gold');

$shades: (
  'gold-darker': darken($gold, 25%)
);


$colors: map-merge(
  $palette,
  $shades
);



