@font-face {
  font-family: "IbarraRealNova";
  src: url("../../../assets/fonts/IbarraRealNova-Regular.ttf");
}

@font-face {
  font-family: "IbarraRealNova";
  src: url("../../../assets/fonts/IbarraRealNova-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "IbarraRealNova";
  src: url("../../../assets/fonts/IbarraRealNova-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "IbarraRealNova";
  src: url("../../../assets/fonts/IbarraRealNova-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
