@font-face {
  font-family: "Raleway";
  src: url("../../../assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../../../assets/fonts/Raleway-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../../../assets/fonts/Raleway-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  src: url("../../../assets/fonts/Raleway-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
